@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<WebUI.Areas.Admin.Models.GetAllStudents>
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var dashboard = Url.Action("Index", "Dashboard", new { area = "Admin" });
	var deleteStudent = Url.Action("Index", "DeleteStudent", new { area = "Admin" });
	var editStudent = Url.Action("Index", "EditStudent", new { area = "Admin" });
}
<!DOCTYPE html>
<html lang="en">
href="

<!-- Mirrored from akademi.dexignlab.com/xhtml/student.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Jul 2023 19:29:22 GMT -->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignLab">
	<meta name="robots" content="">
	<meta name="keywords" content="school, school admin, education, academy, admin dashboard, college, college management, education management, institute, school management, school management system, student management, teacher management, university, university management">
	<meta name="description" content="Discover Akademi - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard">
	<meta property="og:title" content="Akademi : School and Education Management Admin Dashboard Template">
	<meta property="og:description" content="Akademi - the ultimate admin dashboard and Bootstrap 5 template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard">
	<meta property="og:image" content="social-image.png">
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Page Title Here -->
	<title>Akademi : School and Education Management Admin Dashboard Template</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="~/images/favicon.png">
	<link rel="stylesheet" href="~/vendor/chartist/css/chartist.min.css">
	<link href="~/vendor/wow-master/css/libs/animate.css" rel="stylesheet">
	<link href="~/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">

	<link href="~/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


	<!-- Style css -->
	<link href="~/https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
	<!-- Style css -->
	<link href="~/css/style.css" rel="stylesheet">

</head>
<body>


	<!--**********************************
		Content body start
	***********************************-->
	<div class="content-body pe-0">
		<!-- row -->
		<div class="container-fluid">
			<!-- Row -->
			<div class="row">
				<div class="col-xl-12">
					<div class="row">
						<div class="col-xl-12">
							<div class="page-title flex-wrap">
								<div class="input-group search-area mb-md-0 mb-3">
									<input type="text" class="form-control" placeholder="Search here...">
									<span class="input-group-text">
										<a href="~/javascript:void(0)">
											<svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M17.5605 15.4395L13.7527 11.6317C14.5395 10.446 15 9.02625 15 7.5C15 3.3645 11.6355 0 7.5 0C3.3645 0 0 3.3645 0 7.5C0 11.6355 3.3645 15 7.5 15C9.02625 15 10.446 14.5395 11.6317 13.7527L15.4395 17.5605C16.0245 18.1462 16.9755 18.1462 17.5605 17.5605C18.1462 16.9747 18.1462 16.0252 17.5605 15.4395V15.4395ZM2.25 7.5C2.25 4.605 4.605 2.25 7.5 2.25C10.395 2.25 12.75 4.605 12.75 7.5C12.75 10.395 10.395 12.75 7.5 12.75C4.605 12.75 2.25 10.395 2.25 7.5V7.5Z" fill="#01A3FF" />
											</svg>
										</a>
									</span>
								</div>
								<div>

									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
										+ New Student
									</button>
								</div>
							</div>
						</div>
						<!--column-->
						<div class="col-xl-12 wow fadeInUp" data-wow-delay="1.5s">
							<div class="table-responsive full-data">
								<table class="table-responsive-lg table display dataTablesCard student-tab dataTable no-footer" id="example-student">
									<thead>
										<tr>
											<th>
												<input type="checkbox" class="form-check-input" id="checkAll" required="">
											</th>
											<th>Name</th>
											<th>Surname</th>
											<th>FIN ID</th>
											<th>Father's name</th>
											<th>Email</th>
											<th>Grade</th>
											<th>Current Status</th>
											<th class="text-end">Action</th>
										</tr>
									</thead>
									<tbody>

										@foreach(var student in Model){
											<tr>
												<td>
													<div class="checkbox me-0 align-self-center">
														<div class="custom-control custom-checkbox ">
															<input type="checkbox" class="form-check-input" id="check8" required="">
															<label class="custom-control-label" for="check8"></label>
														</div>
													</div>
												</td>
													<td>
											<div class="trans-list">
											@*<img src="~/images/trans/1.jpg" alt="" class="avatar avatar-sm me-3">*@
											<h4>@Html.DisplayFor(modelItem => student.Name)</h4>
											
											
											</div>
											</td>
											<td>
													<div class="trans-list">
														@*<img src="~/images/trans/1.jpg" alt="" class="avatar avatar-sm me-3">*@
													<h4>@Html.DisplayFor(modelItem => student.Surname)</h4>



													</div>
											</td>
												<td><span class="text-primary font-w600">@Html.DisplayFor(modelItem => student.Fin)  </span></td>
												<td>
													<div class="date">@Html.DisplayFor(modelItem => student.FathersName) </div>
												</td>
												<td><h6 class="mb-0">@Html.DisplayFor(modelItem => student.Email)  </h6></td>
												
												
												<td>
													<div class="badge bg-secondary">
														@Html.DisplayFor(modelItem => student.AverageGrade)
													</div>
												</td>
												<td>
													@if(student.Status == 0)
													{
														<span class="badge light badge-success">Active</span>
													}
													else if (student.Status == 1)
													{
														<span class="badge light badge-danger">Left</span>
													}
													else if (student.Status == 2)
													{
														<span class="badge light badge-warning">Temporary stopped</span>
													}
													else
													{
														<span class="badge light badge-dark">Graduated</span>
													}
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<a href="@editStudent/Index/@student.Id" class="btn btn-primary shadow btn-xs sharp me-1" asp-route-id="@student.Id"><i class="fa fa-pencil"></i></a>
														@*<a href="@deleteStudent/Index/@student.Id" class="btn btn-danger shadow btn-xs sharp" asp-route-id="@student.Id"><i class="fa fa-trash"></i></a>*@
													</div>
												</td>
											</tr>

										}
									





									</tbody>
								</table>
							</div>
						</div>
						<!--/column-->
					</div>
				</div>
			</div>
			<!--**********************************
				Footer start
			***********************************-->
		</div>
	</div>

	<!--**********************************
		Content body end
	***********************************-->
	<!-- footer-start -->

	<div class="footer out-footer style-2">
		<div class="copyright">
			<p>Copyright © Designed &amp; Developed by <a href="~/https://dexignlab.com/" target="_blank">DexignLab</a> 2023</p>
		</div>
	</div>

	<!--**********************************
		Footer end
	***********************************-->
	<!--**********************************
	   Support ticket button start
	***********************************-->
	<!--**********************************
	   Support ticket button end
	***********************************-->
	</div>
	<!--**********************************
		Main wrapper end
	***********************************-->
	<!--**********************************
		Scripts
	***********************************-->
	<!-- Required vendors -->
	<script src="~/vendor/global/global.min.js"></script>
	<script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<!--datatables-->
	<script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/js/plugins-init/datatables.init.js"></script>

	<!-- Dashboard 1 -->
	<script src="~/vendor/wow-master/dist/wow.min.js"></script>

	<script src="~/js/custom.min.js"></script>
	<script src="~/js/dlabnav-init.js"></script>
	<script src="~/js/demo.js"></script>
	<script src="~/js/styleSwitcher.js"></script>


</body>

<!-- Mirrored from akademi.dexignlab.com/xhtml/student.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Jul 2023 19:29:24 GMT -->
</html>